<%= form_for(@position_paper) do |f| %>
  <% if @position_paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position_paper.errors.count, "error") %> prohibited this position_paper from being saved:</h2>

      <ul>
      <% @position_paper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
